@import '../../../sass/config/mixins';

  section {
    display: flex;
    justify-content: center;
    height: 80%;
    .div-center{   
      margin: 1% 0 0 -1%; 

      .logo{
        width: 45%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10%;
        @include media(tablet) {
          margin-top: 12%;
          width: 18vw;
         }
        @include media(desktop) {
          display: none;
        }
      }

      .titre{
        text-align: center;
        color: #006800;
        font-size: 20px;
        @include media(tablet) {
          margin-top: 1%;
         }
        @include media(desktop) {
          margin-top: 5%;
        }      
       }
       .titreB{
        text-align: center;
        color: #006800;
        font-size: 20px;
        @include media(tablet) {
          margin-top: 1%;
         }
        @include media(desktop) {
          margin-bottom: 1%;
        }      
       }
      .text{
        text-align: center;
        margin-bottom: 0;
        @include media(desktop) {
          display: none;
        }
       }
       
      .image{
        width: 450px;
        height: 40vh;
        display:block;
        margin-left: auto;
        margin-right: auto;
        @include media(tablet) {
          width: 55vw;
          height: 35vh;
         }
         @include media(desktop) {
          display: none;
        }
      }
      .image-video{
        display: none;
         @include media(desktop) {
          display: flex;
          margin-left: auto;
          margin-right: auto;
          width: 65vw;
          height: 60vh;
         
        }
      }
      .annoncesTous{
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
 
    } 

}