@import '../../../sass/config/mixins';

.conteneur{
        @include media(tablet) {
            width: 60%;
            margin-top: 15%;
          }
        .button-center{
            .btn-google{
                margin-top: 0%;
            }
        }
        @include media(desktop) {
            width: 70vw;
            display:block;
            margin-left: auto;
            margin-right: auto;

          }
    }
    #taille-i{
        @include media(desktop) {
          width: 40vw;
          height: 78vh;
          display:block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2%;
          margin-top: 9%;
          .row{
            width: 60vw;
            margin-left: -40%;
            margin-top: -15%;
          }
        }

      }